@model List<BasketVM>
@{
    double subtotal = 0;
    double total = 0;
}
<section class="cart">
    <div class="cart-table table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Remove</th>
                </tr>
            </thead>
            <tbody>
                @foreach (BasketVM basketVM in Model)
                {
                    subtotal = basketVM.Count * basketVM.Price;
                    total += subtotal;
                    <tr>
                        <td><img src="~/assets/img/parfums/@basketVM.Image" alt=""></td>
                        <td>@basketVM.Name</td>
                        <td>@basketVM.Price ₼</td>
                        <td>
                            <div class="amountcart">
                                <div class="productamount">
                                    <a asp-controller="basket" asp-action="update" asp-route-id="@basketVM.ProductId" class="basketUpdate subCount"><i class="fa-solid fa-minus"></i></a>
                                    <span data-id="@basketVM.ProductId" data-prodcount="@basketVM.Count" class="countInp">@basketVM.Count</span>
                                    <a asp-controller="basket" asp-action="update" asp-route-id="@basketVM.ProductId" class="basketUpdate addCount"><i class="fa-solid fa-plus"></i></a>
                                </div>

                            </div>
                        </td>
                        <td>@subtotal ₼</td>
                        <td><a class="deletecard" asp-controller="Basket" asp-action="DeleteCard" asp-route-id="@basketVM.ProductId"><i class="fa-solid fa-trash-can"></i></a></td>

                    </tr>
                }


            </tbody>
        </table>
    </div>


    <div class="itemcarts">
        <div class="col-lg-5 ml-auto">
            <div class="rightsection">
                <h3>Cart Totals</h3>
                @*<p>Sub Total .........................<span>@subtotal</span></p>*@

                <p>Grand Total ......................<span>@total</span></p>
                <br>
                <a href="checkout.html"><button>Proceed to Checkout</button></a>
            </div>
        </div>
    </div>


</section>
