@model Paginate<UnisexshopListVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var date = DateTime.Now.AddDays(-2).Day;
}
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<!-- SLIDER START -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- ICONS FOR LINKS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link rel="stylesheet" href="./assets/css/unisexshop.css">



<!-- Products Section -->
<section id="products" style="padding-right:300px">
    <div class="container py-3">
        <div class="row">
            @foreach (var unisexshop in Model.Datas)
            {
                <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
                    <div class="card">
                        <img class="card-img-top"
                             src="~/assets/img/parfums/@unisexshop.Image">
                        <div class="card-body">
                            <h6 class="font-weight-bold pt-1">@unisexshop.Name</h6>
                           
                            <div class="d-flex align-items-center product">
                                <span class="fas fa-star"></span>
                                <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star"></span>
                            </div>
                            <div class="d-flex align-items-center justify-content-between pt-3">
                                <div class="d-flex flex-column">
                                    <div class="h6 font-weight-bold">@unisexshop.Price</div>

                                </div>
                                <a data-id="@unisexshop.Id" class=" add-items ad-basket btn btn-sm"><i data-id="@unisexshop.Id" class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>



            }

        </div>
    </div>
</section>


<!-- MAIN START -->
<!-- PRODUCT CARD -->


<div class="container container-xl">
    <h2>Yeni kişi ətirləri</h2>
</div>

<div class="container">
    @foreach (var item in Model.Datas.Where(m => m.Date.Day == date))

    {
        <div class="card-1 card-div">
            <div class="like-icon-div">
                <label for="card-1-like" class="like-icon-div-child">
                    <input type="checkbox" id="card-1-like">

                </label>
            </div>

            <div class="gow-img-div img-div">
                <img src="~/assets/img/parfums/@item.Image" alt="god-of-war-figurine">
            </div>
            <div class="text-container">

                <p class="perfum-name">@item.Name</p>
                <div class="pricing-and-cart">
                    <div class="pricing">
                        <p class="previous-price">220</p>
                        <p class="current-price">@item.Price/p>
                    </div>
                    <a data-id="@item.Id" class=" add-items ad-basket btn btn-sm"><i data-id="@item.Id" class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        </div>

    }



</div>
<!-- MAIN END -->
@*PAGINATION*@
<div class="row my-3">
    <nav aria-label="...">
        <ul class="pagination" style="padding-left:850px">
            <li class="page-item @(Model.HasPrevious ? "" : "disabled") ">
                <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage-1)">Previous</a>
            </li>
            @for (int i = 1; i <= Model.TotalPage; i++)
            {
                <li class="page-item @(i==Model.CurrentPage ? "disabled" : "")">
                    <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                </li>
            }
            <li class="page-item @(Model.HasNext ? "" : "disabled")">
                <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage+1)">Next</a>
            </li>
        </ul>
    </nav>
</div>




<!-- MAIN END -->
<!-- Filter -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"></script>

<script src="~/assets/js/unisexshop.js"></script>


@section Script{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        var btns = document.querySelectorAll(".ad-basket")
        console.log(btns)

        btns.forEach((val, i) => {

            val.addEventListener("click", function (e) {
                e.preventDefault()

                var id = this.getAttribute("data-id")


                $.ajax({
                    url: "https://localhost:44334/product/AddBasket",
                    data: {
                        id: id
                    },
                    dataType: 'json',
                    type: "post",
                    success: function (data) {
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Uğurla əlavə edildi',
                            showConfirmButton: false,
                            timer: 1000
                        })
                    }
                })
            })
        })
    </script>

}
